In [2]:
import pandas as pd
import numpy as np
from collections import Counter

from cycler import cycler

import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

In [3]:
### Set up fonts
from matplotlib.font_manager import fontManager, FontProperties

path = "C:/Users/gabri/AppData/Local/Microsoft/Windows/Fonts/Sora-VariableFont_wght.ttf"

fontManager.addfont(path)
prop = FontProperties(fname=path)

plt.rcParams['font.sans-serif'] = prop.get_name()

In [4]:
### Set up color palettes
sns.color_palette("blend:#184918,#F1EAE4", as_cmap = True)
sns.blend_palette(['#000000', '#184918', '#184918',  '#F1EAE4',], as_cmap = True)

black_col = '#000000'
bg_col = '#F4F1E7'

col_list = ['#ED7D3A', 
            '#314CB6', 
            '#2FBF71', 
            '#D991BA',
            '#EFCA08', 
            '#64113F',
            bg_col, 
            black_col] 
            
            

pal = sns.color_palette(col_list)
pal

[(0.9294117647058824, 0.49019607843137253, 0.22745098039215686),
 (0.19215686274509805, 0.2980392156862745, 0.7137254901960784),
 (0.1843137254901961, 0.7490196078431373, 0.44313725490196076),
 (0.8509803921568627, 0.5686274509803921, 0.7294117647058823),
 (0.9372549019607843, 0.792156862745098, 0.03137254901960784),
 (0.39215686274509803, 0.06666666666666667, 0.24705882352941178),
 (0.9568627450980393, 0.9450980392156862, 0.9058823529411765),
 (0.0, 0.0, 0.0)]

In [5]:
plt.rcParams['figure.facecolor']  = bg_col
plt.rcParams['figure.edgecolor']  = bg_col
plt.rcParams['axes.facecolor'] =  bg_col

#colour of text and ticks
mpl.rcParams['text.color'] = black_col
mpl.rcParams['axes.labelcolor'] = black_col
mpl.rcParams['axes.edgecolor'] = black_col
mpl.rcParams['xtick.color'] = black_col
mpl.rcParams['ytick.color'] = black_col

#top and right spines
mpl.rcParams['axes.spines.top'] = False
mpl.rcParams['axes.spines.right'] = False

#x ticks
plt.rcParams['xtick.major.size'] = 5
plt.rcParams['xtick.major.width'] = 1
plt.rcParams['xtick.bottom'] = True
plt.rcParams['ytick.left'] = True

plt.rcParams["font.family"] = prop.get_name()

In [6]:
df = pd.read_csv('travel.csv')
df.sample(3)

,From,To,Type,Total Distance (Round Trip),Total Time (hours),Delay (Total),Month,Day,Company,Year
61,Amman,London,Plane,NaN,NaN,NaN,Sep,9,WizzAir,2023
35,London,Ludlow,Train,202,2.0,NaN,Feb,17,LNER,2023
68,London,Edinburgh,Train,531,4.5,0.2,Nov,23,LNER,2023

In [ ]:
df[(df.To == 'Edinburgh')&(df.Type == 'Train')]

,From,To,Type,Total Distance (Round Trip),Total Time (hours),Delay (Total),Month,Day,Company,Year
0,London,Edinburgh,Train,NaN,NaN,NaN,October,1,LNER,2021
4,London,Edinburgh,Train,NaN,NaN,NaN,December,4,LNER,2021
6,London,Edinburgh,Train,NaN,NaN,NaN,January,21,LNER,2022
8,London,Edinburgh,Train,NaN,NaN,NaN,February,26,LNER,2022
13,London,Edinburgh,Train,NaN,NaN,NaN,April,14,Lumo,2022
19,London,Edinburgh,Train,NaN,NaN,NaN,July,4,LNER,2022
25,London,Edinburgh,Train,531,4.50,NaN,Oct,21,LNER,2022
29,London,Edinburgh,Train,531,4.50,1.1,Dec,9,LNER,2022
33,London,Edinburgh,Train,531,4.50,NaN,Jan,20,EasyJet,2022
37,London,Edinburgh,Train,531,4.50,NaN,Mar,9,LNER,2023
41,London,Edinburgh,Train,531,4.50,NaN,Mar,31,LNER,2023
47,London,Edinburgh,Train,531,4.50,1.0,May,26,LNER,2023
58,London,Edinburgh,Train,531,4.50,0.5,Jul,21,LNER,2023
64,London,Edinburgh,Train,NaN,NaN,NaN,Oct,5,LNER,2023
68,London,Edinburgh,Train,531,4.50,0.2,Nov,23,LNER,2023
70,London,Edinburgh,Train,531,4.75,NaN,Dec,7,LNER,2023
75,London,Edinburgh,Train,NaN,NaN,NaN,Jan,26,LNER,2024
77,London,Edinburgh,Train,NaN,NaN,NaN,Feb,22,LNER,2024
79,London,Edinburgh,Train,NaN,NaN,NaN,Mar,29,Lumo,2024
81,London,Edinburgh,Train,NaN,NaN,NaN,May,9,LNER,2024
85,London,Edinburgh,Train,NaN,NaN,NaN,May,31,LNER,2024
89,London,Edinburgh,Train,NaN,NaN,NaN,June,27,LNER,2024
95,London,Edinburgh,Train,NaN,NaN,NaN,Sep,12,LNER,2024

In [16]:
len(df[ ((df.From == 'London') & (df.To == 'Edinburgh')) |  ((df.From == 'Edinburgh') & (df.To == 'London')) ])

44

In [18]:
## Maybe All Train Journeys from London that have been taken?
## As a Circos Plot?
## And then also delays lol

44

In [19]:
%pip install python-circos

Collecting python-circosNote: you may need to restart the kernel to use updated packages.
  Downloading python_circos-0.3.0-py3-none-any.whl (27 kB)
Requirement already satisfied: matplotlib>=3.4 in c:\users\gabri\anaconda3\lib\site-packages (from python-circos) (3.4.3)
Requirement already satisfied: biopython>=1.78 in c:\users\gabri\anaconda3\lib\site-packages (from python-circos) (1.81)
Requirement already satisfied: numpy in c:\users\gabri\anaconda3\lib\site-packages (from biopython>=1.78->python-circos) (1.22.4)
Requirement already satisfied: cycler>=0.10 in c:\users\gabri\anaconda3\lib\site-packages (from matplotlib>=3.4->python-circos) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\gabri\anaconda3\lib\site-packages (from matplotlib>=3.4->python-circos) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\gabri\anaconda3\lib\site-packages (from matplotlib>=3.4->python-circos) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\gabri\anaconda3\lib\site-packages (from matplotlib>=3.4->python-circos) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\gabri\anaconda3\lib\site-packages (from matplotlib>=3.4->python-circos) (2.8.2)
Requirement already satisfied: six in c:\users\gabri\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.4->python-circos) (1.16.0)
Installing collected packages: python-circos
Successfully installed python-circos-0.3.0

WARNING: Ignoring invalid distribution -umpy (c:\users\gabri\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\gabri\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\gabri\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\gabri\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\gabri\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\gabri\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\gabri\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\gabri\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\gabri\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\gabri\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\gabri\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\gabri\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\gabri\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\gabri\anaconda3\lib\site-packages)